<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="org.apache.cordova.core.GeoBroker"
    version="0.1.0">

    <name>Geolocation</name>

    <js-module src="www/PositionError.js" name="PositionError">
        <clobbers target="PositionError" />
    </js-module>

    <js-module src="www/Position.js" name="Position">
        <clobbers target="Position" />
    </js-module>
    
    <js-module src="www/geolocation.js" name="geolocation">
        <clobbers target="navigator.geolocation" />
    </js-module>
        
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="plugins">
            <plugin name="Geolocation" value="org.apache.cordova.core.GeoBroker"/>
        </config-file>

	<source-file src="GeoBroker.java" target-dir="src/org/apache/cordova/core" />
	<source-file src="GPSListener.java" target-dir="src/org/apache/cordova/core" />
	<source-file src="NetworkListener.java" target-dir="src/org/apache/cordova/core" />
	<source-file src="CordovaLocationListener.java" target-dir="src/org/apache/cordova/core" />
	<source-file src="GeoBroker.java" target-dir="src/org/apache/cordova/core" />

    </platform>

    <!-- ios -->
    <platform name="ios">    
        <config-file target="config.xml" parent="plugins">
	    <plugin name="Geolocation" value="CDVLocation" /> 
        </config-file>
        <header-file src="src/ios/CDVLocation.h" />
	<source-file src="src/ios/CDVLocation.m" />
    </platform>
</plugin>
